*.pbxuser
*.mode1v3
*.tm_build_errors
*.wdgtuser
*.perspectivev3
*.pyc
*.xcworkspace
*.ipa
*.xls
*.swp
xcuserdata
ModuleCache
Logs
TestResults
.DS_Store
_build
build.txt
InfoPlist.h
intermediates
test-reports
test.log
*.idea
*.mobileprovision
xcuserdata
